* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fdf9f6;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/*GENERAL*/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 2.6rem;
  margin-left: 62rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-top: 5.5rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #830404;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #830404;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
  align-items: center;
}

/*-------------------------Header-------------------*/
.header {
  background-color: #830404;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 60px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 1.5rem;
  color: #eceff1;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #ffbc0e;
}

.header .btn button {
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #830404;
  transform: scale(1.1);
}

/* REFACCION BUTTON*/
.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.formContainer {
  margin-left: 20px;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #fdf9f6;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.cardDescription {
  font-weight: bold;
  padding: 10px;
}

.cardDescription p {
  padding: 1px;
}

.listaRefacciones {
  width: 100%; /* or set a specific width like 300px */
  max-width: 1200px; /* Maximum width of the div */
  overflow: hidden; /* Hide content that overflows */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Adds '...' at the end of overflowed text */
  /*  border: 1px solid black; */ /* Optional border for visibility */
  margin-left: 150px;
  margin-top: 0px;
  box-sizing: border-box; /* Ensure padding is included in width */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headerLista {
  display: flex;
  margin-top: 10px;
}

.headerLista h1 {
  margin-left: 100px;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}

.headerLista :last-child {
  margin-left: 60%;
  margin-top: 3px;
}

body h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 110px;
}

.refaccionCard {
  background-color: rgb(235, 233, 225);
  box-shadow: 0 0 2px #333;
  width: 200px;
  /* border: 0.5 solid gray; */
  margin-left: 20px;
  margin-top: 10px;
}

.refaccionCard button {
  margin-left: 170px;
  margin-bottom: 10px;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  border: 2px solid rgb(231, 50, 50);
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  overflow: hidden;
  transition: 0.3s;
  font-size: 8px;
}

.refaccionCard button:hover {
  background-color: rgb(231, 50, 50);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: 0.3s;
}

.refaccionCard p:first-child {
  font-weight: lighter;
}

.refaccionCard img {
  height: 120px;
  width: 120px;
  margin: 10px 0 0 37px;
}

.img-container {
  padding: 5px;
}

/*
  FORM AGREGAR REFACCION
  */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.agregarRefaccion {
  border-radius: 5px;
  background-color: #fdf9f6;
  padding: 20px;
  width: 70%;
  margin-left: 14%;
}
/*
VISTA DE REFACCION
*/

.vistaRefaccion {
  display: flex;
  align-items: center; /* Aligns items vertically (center) */
  height: 55%; /* Set a height, e.g., 100vh for full viewport height */
  /*  background-color: #fdf9f6;
  box-shadow: 0 0 2px #333; */
  margin-left: 15%;
  margin-top: 5%;
  width: 70%;
  gap: 12rem;
}

.vistaRefaccion img {
  height: 400px;
  width: 400px;
  margin: 30px 0 0 37px;
}

.vistaRefaccion h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #222121;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}

.refaccionInfo {
  margin-bottom: 10rem;
  font-size: 2rem;
  text-align: justify;
}
.refaccionDescription {
  background-color: white;
  margin: 0;
  padding: 0;
}
.refaccionInfo :last-child {
  margin-top: 10%;
}
.imageContainer {
  margin-bottom: 3.8%;
}

.priceTag {
  text-decoration: underline;
  color: #830404;
}
.priceTagView {
  color: green;
  font-weight: bold;
  font-size: 30px;
}

/*VISTA 2.0 */

.body {
  background-color: #fdf9f6;
}

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  margin: 0 0 1rem 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 1.5rem 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.lista-compatibles {
  margin-left: 5rem;
}

.lista-compatibles h2 {
  margin: 0 0 0 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 3rem;
  position: relative;
  margin-left: 3rem;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.span-price {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

/* LOGIN*/

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  margin-top: 10%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}
input[type="button"] {
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

/* REFACCION CARD */
/*--------------------------------------------------------*/
.refaccion {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  text-align: center;
}

.refaccion img {
}

.refaccion:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.refaccion-content {
  padding: 1.2rem 2.8rem 2.8rem 2.8rem;
}

.refaccion-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
  margin-left: 1.6rem;
}

.refaccion-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.refaccion-precio {
  font-size: 2.4rem;
  color: #333;
  font-weight: 450;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.refaccion-img {
  height: 120px;
  width: 120px;
  margin: 10px 0 0 37px;
}

.buttonContainerRefaccion {
  margin-left: 16px;
  display: flex;
  gap: 6px;
}

.buttonDelete {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}

.updateButton {
  background-color: rgb(65, 50, 231);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}

.updateButton:hover {
  background-color: rgb(65, 50, 231);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: 0.3s;
}

.buttonDelete:hover {
  background-color: red;
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: 0.3s;
}

.agregarButtonContainer {
  position: relative;
  margin-left: 120rem;
  margin-bottom: 5rem;
}
